form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: blanchedalmond;
}
 
fieldset{
    display: flex;
    flex-direction: column;
    background-color: darksalmon;
}

label{
    color: aquamarine;
    font-size: larger;
    font-family: sans-serif;
}
input{
    size: auto;
}

